---
---

@import "{{ site.theme }}";

div#hands-on a.button {
 display: inline-block;
 width:138px;
 padding-left:64px;
 margin-bottom:20px;
 font-size:21px;
 background:transparent url(../images/download-button.png) 0 0 no-repeat;
 vertical-align: top;
 margin-right: 5em;
}
